@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* FONTS */
@font-face {
    font-family: 'Causten';
    src: url('Fonts/Causten-SemiBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Core Sans C';
    src: local('Core Sans C 65 Bold'), local('Core-Sans-C-65-Bold'),
        url('Fonts/CoreSansC-65Bold.woff2') format('woff2'),
        url('Fonts/CoreSansC-65Bold.woff') format('woff'),
        url('Fonts/CoreSansC-65Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Causten';
    src: url('Fonts/Causten-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-familyL 'Causten';
    src: url('Fonts/Causten-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Causten';
    src: url('Fonts/Causten-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
/* CONTAINERS */
/* NAV CONTAINER */
nav{
    display: flex;
    justify-content: space-evenly;
    height: 75px;
    align-items: center;
}
.nav_user_container img{
    padding: 12px;
    border-radius: 8px;
    background: #F6F6F6;
}
.nav_link_container{
    display: flex; 
    gap: 40px;
}
.nav_link_container a{
    text-decoration: none;
    color: #807D7E;
    font-family: Causten;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: 0.3s;
}
.nav_link_container a:hover{
    color: #3C4242;
}
.nav_input{
    margin-top: 3px;
    border: none;
    background: #F6F6F6;
    display: flex;
    align-items: center;
    color: #807D7E;
    text-align: left;
    font-family: Causten;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
}
#search_nav_button{
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    padding: 12px 20px;
    color: #807D7E;
    border: none;
    border-radius: 8px;
    background: #F6F6F6;
}
/* FIRST CONTAINER */
.first_container{
    width: 100%;
    background: url('/static/assets/first_container_bg.jpeg')    
}
.first_container_heading{
    color: #FFF;
    font-family: 'Core Sans C';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 37.771px; /* 118.035% */
    letter-spacing: 0.157px;
    text-transform: capitalize;
}
.first_text_container{
    padding-left: 5%;
    padding-top: 10%;
    display: flex;
    height: 455px;
    flex-direction: column;
    justify-content: space-between;
}
.first_container_h1{
    color: #FFF;
    font-family: Core Sans C;
    font-size: 78px;
    font-style: normal;
    font-weight: 800;
    line-height: 93.622px; /* 120.028% */
    letter-spacing: 0.315px;
}
.first_slogan_container{
    color: #FFF;
    font-family: Core Sans C;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 3%;
    line-height: 47.214px; /* 147.544% */
    letter-spacing: 0.315px;
}
.first_text_container a{
    padding: 16px 72px;
    text-decoration: none;
    font-family: Causten;
    color: #3C4242;
    font-size: 24px;
    font-style: normal;
    width: 8%;
    text-align: center;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background: #FFF;
}
.first_corousel_container{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 126px;
    height: 10px;
    margin-top: 10%;
    padding-bottom: 3.5%;
    gap: 1px;

}
.first_corousel_container span{
    opacity: 0.5;
    display: flex;
    width: 63px;
    background-color: #fff;
    height: 10px;
    border-radius: 0 20px 20px 0;
    transition: 0.2s;
}
.first_corousel_container span:first-child {
    opacity: 1;
    border-radius: 20px 0 0 20px;
}
.closed_bar{
    opacity: 0.5 !important;
}
.active_bar{
    opacity: 1 !important;
}
.first_arrow_right {
    position: absolute;
    top: 50%;
    cursor: pointer;
    right: 1.5%;
}
.first_arrow_left{
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 1.5%;
}
/* SECOND CONTAINER */
.second_container{
    padding-top: 10%;
    display: flex;
    justify-content: space-evenly;

}
.second_purple_container{
    max-width: 604.934px;
    width: 100%;
    height: 355.844px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: url('/static/assets/second_purple_img.jpg');
}
.second_yellow_container{
    max-width: 604.934px;
    width: 100%;
    height: 355.844px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: url('/static/assets/second_yellow_img.jpg');
}
.second_container h6{
    margin-left: 4%;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 30.067px; /* 167.038% */
    letter-spacing: 0.251px;
}
.second_container h2{
    margin-left: 4%;
    color: #FFF;
    font-family: Core Sans C;
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: 45.1px; /* 132.648% */
}
.second_container h3{
    margin-left: 4%;
    color: #FFF;
    font-family: Core Sans C;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.056px; /* 156.598% */
    letter-spacing: 0.251px;
}
.second_container a{
    margin-left: 4%;
    color: #FFF;
    font-family: Core Sans C;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 30.132px; /* 150.66% */
}
/* THIRD CONTAINER */
.third_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.third_h2_items{
    display: flex;
    width: 240px;
    align-items: center;
    justify-content: space-between;
    margin-left: 8%;
    margin-top: 8%;
    margin-bottom: 2%;
}
.third_container h2{
    color: #3C4242;
    font-family: Core Sans C;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 33.5px; /* 98.529% */
    letter-spacing: 0.68px;
}
.third_h2_img{
    width: 6px;
}
.third_container_items{
    width: 95%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.third_container_item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.third_container_items p{
    color: #3C4242;
    font-family: Causten;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
    letter-spacing: 0.2px;
}
.third_arrow_right{
    width: 13.586px;
    height: 12px;
}
.third_arrow_left{
    width: 13.586px;
    height: 12px;
}
/* FOURTH CONTAINER */
.fourth_header_img{
    height: 30px;
}
.fourth_h3_header{
    color: #3C4242;
    font-family: Core Sans C;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 33.5px; /* 98.529% */
    letter-spacing: 0.68px;
}
.fourth_container_items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}
.fourth_container_items div:first-child{
    width: 400px;
    height: 393px;
    background: url('/static/assets/fourth_hawaiian_shirts.png ');
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.fourth_container_items div:first-child h3{
    color: #FFF;
    font-family: Core Sans C;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 38.431px; /* 137.255% */
    margin-left: 5%;
    letter-spacing: 0.56px;
}
.fourth_container_items div:first-child h4{
    color: #FFF;
    font-family: Causten;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin-left: 5%;
    line-height: normal;
}
.fourth_container_items div:first-child p{
    margin-left: 5%;
    color: #FFF;
    font-family: Causten;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.fourth_container_items div:first-child a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    margin-right: 5%;
    font-family: Causten;
    padding: 16px 8px;
    width: 111px;
    border-radius: 4px;
    border: 1px solid #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 5%;
    text-decoration: none;
    text-transform: uppercase;
}
.fourth_container_items div:first-child img{
    margin-left: 17.5%;
}
.fourth_container_items div:nth-child(2){
    width: 400px;
    height: 393px;
    background: url('/static/assets/fourth_printed_tshirts.png');
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}
.fourth_shop_btn{    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: Causten;
    padding: 16px 8px;
    width: 111px;
    border-radius: 4px;
    border: 1px solid #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    margin-right: 5%;
    text-transform: uppercase;
}
.fourth_limeted_stock{
    width: 104px;
    padding: 16px 8px;
    border-radius: 4px;
    background: #3C4242;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Causten;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    margin-right: 5%;
    line-height: normal;
}
.fourth_container_items div:nth-child(2) h3{
    color: #FFF;
    font-family: Core Sans C;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 38.431px; /* 137.255% */
    letter-spacing: 0.56px;
    margin-right: 5%;
}
.fourth_container_items div:nth-child(2) h4{
    color: #FFF;
    font-family: Causten;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin-right: 5%;
    line-height: normal;
}
.fourth_container_items div:nth-child(2) p{
    color: #FFF;
    font-family: Causten;
    font-size: 18px;
    margin-right: 5%;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.fourth_container_items div:nth-child(2) img{
    margin-right: 17.5%;
}
.fourth_container_items div:nth-child(3){
    width: 400px;
    height: 393px;
    background: url('/static/assets/fourth_cargo_joggers.png');
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}
.fourth_container_items div:nth-child(3) h3{
    margin-right: 5%;
    color: #3C4242;
    font-family: Core Sans C;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 38.431px; /* 137.255% */
    letter-spacing: 0.56px;
}
.fourth_container_items div:nth-child(3) h4{
    margin-right: 5%;
    color: #3C4242;
    font-family: Causten;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.fourth_container_items div:nth-child(3) p{
    color: #3C4242;
    font-family: Causten;
    margin-right: 5%;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.fourth_container_items div:nth-child(3) a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    color: #3C4242;
    margin-right: 5%;
    font-family: Causten;
    padding: 16px 8px;
    width: 111px;
    border-radius: 4px;
    border: 1px solid #3C4242;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    text-transform: uppercase;
}
.fourth_container_items div:nth-child(3) img{
    margin-right: 18.5%;
}
.fourth_container_items div:nth-child(4){
    width: 610px;
    height: 393px;
    margin-right: 2.3%; 
    background: url('/static/assets/fourth_urban_shirts.png');
}
.fourth_container_items div:nth-child(5){
    width: 610px;
    margin-left: 2.3%;
    height: 393px;
    background: url('/static/assets/fourth_oversized_tshirts.png');
}
.fourth_container_items div:nth-child(4),
.fourth_container_items div:nth-child(5){
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}
.fourth_container_items div:nth-child(5) h3,
.fourth_container_items div:nth-child(4) h3{
    color: #3C4242;
    font-family: Core Sans C;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 43.922px; /* 137.255% */
    letter-spacing: 0.64px;
    margin-right: 12%;
}
.fourth_container_items div:nth-child(5) h4,
.fourth_container_items div:nth-child(4) h4{
    color: #3C4242;
    font-family: Causten;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 20%;
}
.fourth_container_items div:nth-child(5) p,
.fourth_container_items div:nth-child(4) p{
    color: #3C4242;
    font-family: Causten;
    font-size: 20px;
    font-style: normal;
    margin-right: 16%;
    font-weight: 700;
    line-height: normal;
}
.fourth_container_items div:nth-child(4) img,
.fourth_container_items div:nth-child(5) img{
    margin-right: 25%;
}
.fourth_container_items div:nth-child(4) h3{
    margin-right: 21%;
}
.fourth_container_items div:nth-child(5) p{
    margin-right: 17%;
}
.fourth_container_items div:nth-child(4) a,
.fourth_container_items div:nth-child(5) a{
    text-decoration: none;
    text-transform: uppercase;
    color: #3C4242;
    text-align: center;
    font-family: Causten;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 16px 8px;
    border-radius: 4px;
    border: 2px solid #3C4242;
    margin-right: 14%;
    width: 132px; 
}
.fourth_h3_items{
    display: flex;
    width: 320px;
    justify-content: space-between;
    margin-left: 4.5%;
    margin-top: 8%;
    margin-bottom: 3%;
}
/* FIFTH CONTAINER */
.fifth_container{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fifth_container_first_side{
    width: 613.997px;
    height: 639.723px;
    background: url('/static/assets/fifth_container_first_side.png');
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 8px 0 0 8px;
}
.fifth_container_second_side{
    width: 613.997px;
    height: 639.723px;
    background: url('/static/assets/fifth_container_second_side.png');
    border-radius: 0 8px 8px 0;
}
.fifth_container h2{
    color: #FFF;
    font-family: Core Sans C;
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px; /* 147.059% */
    letter-spacing: 0.208px;
}
.fifth_container_first_side h4{
    color: #FFF;
    font-family: Causten;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1px;
    margin-bottom: 8%;
}
.fifth_container a{
    color: #3C4242;
    text-align: center;
    font-family: Causten;
    font-size: 18px;
    font-style: normal;
    padding: 12px 44px;
    border-radius: 8px;
    background: #FFF;
    text-decoration: none;
    font-weight: 600;
    line-height: normal;
}
/* SIXTH CONTAINER */
.sixth_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%; 
}
.sixth_container_items{
    display: flex;
    max-width: 1241px;
    flex-wrap: wrap;
    margin-top: 4%;
    justify-content: space-evenly;
    gap: 50px;
}
.sixth_container_header{
    display: flex;
    flex-direction: row;
    margin-right: 55%;
    align-items: center;
    width: 390px;
    justify-content: space-between;
}
.sixth_container h3{
    color: #3C4242;
    font-family: Core Sans C;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 33.5px; /* 98.529% */
    letter-spacing: 0.68px;
}
.sixth_container_item div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.sixth_container_item a{
    color: #7F7F7F;
    text-decoration: none;
    font-family: Causten;
    font-size: 13.407px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.93px; /* 208.333% */
    letter-spacing: -0.536px;
}
.sixth_container_item p{
    color: #2A2F2F;
    font-family: Causten;
    font-size: 17.875px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.93px; /* 156.25% */
    letter-spacing: -0.715px;
}
/* SEVENTH CONTAINER */
.seventh_container_header h3{
    color: #3C4242;
    font-family: Core Sans C;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 33.5px;
    letter-spacing: 0.68px;
}
.seventh_container_header{    
    display: flex;
    width: 440px;
    height: 32px;
    margin: 3% 52% 3% 0;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 20px;
}
.seventh_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seventh_container_items{
    display: flex;
    align-items: center;
    max-width: 1241px;
    justify-content: space-between;
    gap: 50px; 
}
.seventh_container_item div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.seventh_container_item p{
    color: #2A2F2F;
    font-family: Causten;
    font-size: 17.875px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.93px; /* 156.25% */
    letter-spacing: -0.715px;
}
.seventh_container_item a{
    text-decoration: none;
    color: #7F7F7F;
    font-family: Causten;
    font-size: 13.407px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.93px; /* 208.333% */
    letter-spacing: -0.536px;
}
/* EIGHTH CONTAINER */
.eighth_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    max-width: 1233px;
    border: 1.069px solid var(--dark-grey-fashion, #323232);
    margin: 0 auto;
    margin-top: 5%;
    background: #3C4242;
}
.eighth_container_items{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 24.6px;
}
.eighth_text_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.eighth_text_container h4{
    margin-top: 5%;
    color: #FFF;
    text-align: center;
    font-family: Core Sans C;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.eighth_text_container p{
    color: #FFF;
    text-align: center;
    font-family: Causten;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.eighth_text_container b{
    color: #FBD103;
    font-family: Causten;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.eighth_container_item{
    width: 177.518px;
    height: 85.551px;
    border-radius: 12px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/*NINTH CONTAINER*/
.ninth_container_items{
    display: flex;
    align-items: center;
    max-width: 1241px;
    justify-content: space-between;
    gap: 50px;
}
.ninth_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ninth_container_header h3{
    color: #3C4242;
    font-family: Core Sans C;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 33.5px; /* 98.529% */
    letter-spacing: 0.68px;
}
.ninth_container_header {
  display: flex;
  width: 440px;
  height: 32px;
  margin: 3% 69% 3% 0;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
}
.ninth_container p{
    color: #2A2F2F;
    font-family: Causten;
    font-size: 17.875px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.93px;
    letter-spacing: -0.715px;
}
.ninth_container h5{
    color: #7F7F7F;
    font-family: Causten;
    font-size: 13.407px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.93px;
    letter-spacing: -0.536px;
}
.ninth_container a{
    text-decoration: none;
    color: #3C4242;
    text-align: center;
    font-family: Causten;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    border-radius: 8px;
    padding: 10px 18px;
    background: #F6F6F6;
    line-height: normal;
}
.ninth_heart{
    position: absolute;
    top: 3%;
    left: 82%;
}
.ninth_container_item{
    position: relative;
}
.ninth_container_item div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/* TENTH CONTAINER */
.tenth_container_header h3{
    color: #3C4242;
    font-family: Core Sans C;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 33.5px;
    letter-spacing: 0.68px;
}
.tenth_container_header {
    display: flex;
    width: 440px;
    height: 32px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: -5.2%;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 20px;
}

.tenth_img_container{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}
.tenth_img_container span{
    display: flex;
    align-items: self-end;
    justify-content: space-between;
    max-width: 131px;
}

.tenth_feedback_items{
    display: flex;
    justify-content: space-around;
    max-width: 1237px;
    margin: 0 auto;
}

.tenth_feedback_items h3{
    color: #3C4242;
    text-align: center;
    font-family: Core Sans C;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.44px;
}
.tenth_feedback_items p{
    overflow: hidden;
    color: #807D7E;
    text-overflow: ellipsis;
    whitespace: nowrap;
    font-family: Causten;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
}
.tenth_feedback_item{
    display: flex;
    max-width: 396.874px;
    padding: 23.194px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 10px;
    border: 1.8px solid #BEBCBD;
    background: #FFF;
}
.tenth_active_window{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding: 2% 0;
}
.not_active_span{
    display: flex;
    border-radius: 100%;
    width: 7.731px;
    height: 7.731px;
    background: rgba(190, 188, 189, 0.30);
}
.tenth_active_window span:first-child{
    background: #3C4242;
    display: flex;
    border-radius: 100%;
    width: 7.731px;
    height: 7.731px;

}
.tenth_active_window span:hover{
    cursor: pointer;
}
/* FOOTER */
footer{
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #3C4242;
}
.first_footer_container p{
    color: #F6F6F6;
    font-family: Causten;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 216.9%; /* 39.042px */
}
footer h4{
    color: #F6F6F6;
    font-family: Causten;
    font-size: 28.579px;
    font-style: normal;
    font-weight: 700;
    line-height: 216.9%; /* 61.988px */
}
.first_footer_container{
    max-width: 1059px; 
    width: 100%;
    display: flex;
    margin-top: 4%;
    justify-content: space-between;
}
.second_footer_container{
    display: flex;
    max-width: 1059px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
#StoresContainer{
    margin-right: 14.5%;
}
.second_footer_container h3{
    color: #F6F6F6;
    font-family: Causten;
    font-size: 28.579px;
    font-style: normal;
    font-weight: 700;
    line-height: 216.9%; /* 61.988px */
}
.application_container p{
    color: #FFF;
    font-family: Causten;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.bold_footer_p{
    font-size: 18px;

}
.application_container div{
    display: flex;
    width: 67%;
    align-items: center;
    justify-content: space-between;

}
#footer_playstore{
    width: 69%;
    margin-bottom: 5%;
}
.social_media_container{
    display: flex;
    max-width: 178px;
    width: 100%;
    justify-content: space-between;
}
.social_media_container p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37.024px;
    height: 37.024px;
    border-radius: 10.68px;
    background: #F6F6F6;
    color: #2A2F2F;
    font-family: Roboto;
    font-size: 17.088px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.48px; /* 166.667% */
    letter-spacing: 0.342px;
}
.minus_two_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1220px;
    width: 100%;
    height: 84px;
    margin-top: 3%;
    border-top: 1px solid rgba(190, 188, 189, 1);
    border-bottom: 1px solid rgba(190, 188, 189, 1);
}
.minus_two_container h4{
    color: #F6F6F6;
    font-family: Causten;
    font-size: 28.579px;
    font-style: normal;
    margin-left: 6.5%;
    font-weight: 700;
    line-height: 200%; /* 57.158px */
}
.minus_two_container img{
    margin-right: 1%;
}
footer h5{
    margin-top: 2%;
    color: #FFF;
    font-family: Causten;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 1.5%;
    line-height: 200%; /* 36px */
}

