<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% block title %}
        <title>Euphoria</title>
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        {% block sidebar%}
        <nav> 
            <div class="logo_container">
                {% load static %}
                <img src="{% static 'assets/Logo.svg' %}" alt="">
            </div>
            <div class="nav_link_container">
                <a href="#">Shop</a>
                <a href="#">Men</a>
                <a href="#">Women</a>
                <a href="#">Combos</a>
                <a href="#">Joggers</a>
            </div>
            <form action="" id="search_nav_button"method="post">
                {% load static %}
                <img src="{% static 'assets/nav_search.svg'%}" alt="">
                <input type="search" class="nav_input"name="search" placeholder="Search">
            </form>
            <div class="nav_user_container">
                {% load static %}
                <a href="#"><img src="{% static 'assets/nav_heart.svg'%}" alt=""></a>
                {% load static %} 
                <a href="#"><img src="{% static 'assets/nav_user.svg' %}" alt=""></a>
                {% load static %}
                <a href="#"><img src="{% static 'assets/nav_shopping_cart.svg'%}" alt=""></a>
            </div>
        </nav>
        {% endblock %}
        {% block content %}
        {% endblock %}
    </body>
</html>
