{% extends "base_generic.html" %}

{% block content %}
    <main>
        <div class="first_container">
            <div class="first_text_container">
                <h5 class="first_container_heading">T-shirt / Tops</h5>
                <h1 class="first_container_h1">Summer<br> Value Pack</h1>
                <p class="first_slogan_container">cool / colorful / comfy</p>
                <a href="#">Shop Now</a>
            </div>    
            <div class="first_corousel_container">
                <span class="first_corousel_left_bar"></span>
                <span class="first_corousel_right_bar"></span>
            </div>
                {% load static %}
                <img class="first_arrow_right"src="{% static 'assets/navChevronRight.svg'%}" alt="">
                {% load static %}
                <img class="first_arrow_left" src="{% static 'assets/navChevronLeft.svg'%}" alt="">
        </div>
        <div class="second_container">
            <div class="second_yellow_container">
                <h6>Low Price</h6>
                <h2>High Coziness</h2>
                <h3>UPTO 50% OFF</h3>
                <a href="#">Explore items</a>
            </div>
            <div class="second_purple_container">
                <h6>Beyoung Presents</h6>
                <h2>Breezy Summer<br> Style</h2>
                <h3>UPTO 50% OFF</h3>
                <a href="#">Explore items</a>
            </div>
        </div>
    </main>
{% endblock%}
