{% extends "base_generic.html" %}

{% block content %}
    <main>
        <div class="first_container">
            <div class="first_text_container">
                <h5 class="first_container_heading">T-shirt / Tops</h5>
                <h1 class="first_container_h1">Summer<br> Value Pack</h1>
                <p class="first_slogan_container">cool / colorful / comfy</p>
                <a href="#">Shop Now</a>
            </div>    
            <div class="first_corousel_container">
                <span class="first_corousel_left_bar"></span>
                <span class="first_corousel_right_bar"></span>
            </div>
                {% load static %}
                <img class="first_arrow_right"src="{% static 'assets/navChevronRight.svg'%}" alt="">
                {% load static %}
                <img class="first_arrow_left" src="{% static 'assets/navChevronLeft.svg'%}" alt="">
        </div>
        <div class="second_container">
            <div class="second_yellow_container">
                <h6>Low Price</h6>
                <h2>High Coziness</h2>
                <h3>UPTO 50% OFF</h3>
                <a href="#">Explore items</a>
            </div>
            <div class="second_purple_container">
                <h6>Beyoung Presents</h6>
                <h2>Breezy Summer<br> Style</h2>
                <h3>UPTO 50% OFF</h3>
                <a href="#">Explore items</a>
            </div>
        </div>
        <div class="third_container">
            <div class="third_h2_items">
                {% load static %}
                <img class="third_h2_img" src="{% static 'assets/third_h2_img.png'%}" alt="">
                <h2>New Arrival</h2>
            </div>
            <div class="third_container_items">
                <div class="third_container_item">
                    {% load static %}
                    <img src="{% static 'assets/third_photographer-white-background.png' %}" alt="">
                    <p>Knitted Joggers</p>
                </div>
                <div class="third_container_item">
                    {% load static %}
                    <img src="{% static 'assets/third_red_guy.png'%}" alt="">
                    <p>Full Sleeve</p>
                </div>
                <div class="third_container_item">
                    {% load static %}
                    <img src="{% static 'assets/third_black_tshirt_guy.png'%}" alt="">
                    <p>Active T-Shirts</p>
                </div>
                <div class="third_container_item">
                    {% load static %}
                    <img src="{% static 'assets/third_white_bg_guy.png'%}" alt="">
                    <p>Urban Shirts</p>
                </div>
            </div>
            {% load static %}
            <img class="third_arrow_left" src="{% static 'assets/third_arrow_left.svg' %}" alt="">
            <img class="third_arrow_right" src="{% static 'assets/third_arrow_right.svg'%}" alt="">
        </div>
        <div class="fourth_container">
            {% load static %}
            <div class="fourth_h3_items">
                <img class="fourth_header_img" src="{% static 'assets/third_h2_img.png'%}" alt="">
                <h3 class="fourth_h3_header">Big Saving Zone</h3>
            </div>
            <div class="fourth_container_items">
                <div class="fourth_container_item">
                    <h3>Hawaiian <br> Shirts</h3>
                    <h4>Dress up in summer vibe</h4>
                    <p>UPTO 50% OFF</p>
                    {% load static %}
                    <img src="{% static 'assets/fourth_white_arrow.svg'%}" alt="">
                    <a href="#">Shop now</a>
                </div>
                <div class="fourth_container_item">
                    <a class="fourth_limeted_stock" href="#">Limited Stock</a>
                    <h3>Printed <br> T-Shirt</h3>    
                    <h4>New Designs Every Week</h4>
                    <p>UPTO 40% OFF</p>
                    {% load static %}
                    <img src="{% static 'assets/fourth_white_arrow.svg'%}" alt="">
                    <a class="fourth_shop_btn" href="#">Shop now</a>
                </div>
                <div class="fourth_container_item">
                    <h3>Cargo <br> Joggers</h3>
                    <h4>Move with style & comfort</h4>
                    <p>UPTO 50% OFF</p>
                    {% load static %}
                    <img src="{% static 'assets/fourth_black_arrow.svg'%}" alt="">
                    <a href="#">Shop now</a>
                </div>
                <div class="fourth_container_item">
                    <h3>Urban <br> Shirts</h3>  
                    <h4>Live In Comfort</h4>
                    <p>FLAT 60% OFF</p>
                    {% load static %}
                    <img src="{% static 'assets/fourth_black_arrow.svg' %}" alt="">
                    <a href="#">Shop Now</a>
                </div>
                <div class="fourth_container_item">
                    <h3>Oversized <br> T-Shirts</h3>
                    <h4>Street Style Icon</h4>
                    <p>FLAT 60% OFF</p>
                    {% load static %}
                    <img src="{% static 'assets/fourth_black_arrow.svg' %}" alt="">
                    <a href="#">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="fifth_container">
            <div class="fifth_container_first_side"> 
                <div>
                    <h2>WE MADE YOUR EVERYDAY <br> FASHION BETTER!</h2>
                    <h4>In our journey to improve everyday fashion, <br> euphoria presents EVERYDAY wear range - <br> Comfortable &amp Affordable fashion 24/7</h4>
                    <a href="#">Shop Now</a>
            
                </div>
            </div>
            <div class="fifth_container_second_side"></div>
        </div>
        <div class="sixth_container">
            <div class="sixth_container_header">
                {% load static %}
                <img src="{% static 'assets/third_h2_img.png'%}" alt="">
                <h3>Categories For Men</h3>
            </div>
            <div class="sixth_container_items">
                <div class="sixth_container_item">
                    {% load static %}
                    <img class="sixth_main_img" src="{% static 'assets/sixth_container_item_1.png' %}" alt="">
                    <div>
                        <span>
                            <p>Shirts</p>
                            <a href="#">Explore Now!</a>
                        </span>
                        {% load static %}
                        <img src="{% static 'assets/sixth_container_arrow.svg'%}" alt="">
                    </div>
                </div>
                <div class="sixth_container_item">
                    {% load static %}
                    <img class="sixth_main_img" src="{% static 'assets/sixth_container_item_2.png' %}" alt="">
                    <div>
                        <span>
                            <p>Printed T-Shirts</p>
                            <a href="#">Explore Now!</a>
                        </span>
                        {% load static %}
                        <img src="{% static 'assets/sixth_container_arrow.svg' %}" alt="">
                    </div>
                </div>
                <div class="sixth_container_item">
                    {% load static %}
                    <img class="sixth_main_img" src="{% static 'assets/sixth_container_item_3.png' %}" alt="">
                    <div>
                        <span>
                            <p>Plain T-Shirt</p>
                            <a href="#">Explore Now!</a>
                        </span>
                        {% load static %}
                        <img src="{% static 'assets/sixth_container_arrow.svg' %}" alt="">
                    </div>
                </div>
                <div class="sixth_container_item">
                    {% load static %}
                    <img class="sixth_main_img" src="{% static 'assets/sixth_container_item_4.png' %}" alt="">
                    <div>
                        <span>
                            <p>Polo T-Shirt</p>
                            <a href="#">Explore Now!</a>
                        </span>
                        {% load static %}
                        <img src="{% static 'assets/sixth_container_arrow.svg' %}" alt="">
                    </div>        
                </div>
                <div class="sixth_container_item">
                    {% load static %}
                    <img class="sixth_main_img" src="{% static 'assets/sixth_container_item_5.png' %}" alt="">
                    <div>
                        <span>
                            <p>Hoodies & Sweetshirt</p>
                            <a href="#">Explore Now!</a>
                        </span>
                        {% load static %}
                        <img src="{% static 'assets/sixth_container_arrow.svg' %}" alt="">
                    </div>
                </div>
                <div class="sixth_container_item">
                    {% load static %}
                    <img class="sixth_main_img" src="{% static 'assets/sixth_container_item_6.png' %}" alt="">
                    <div>
                        <span>
                            <p>Jeans</p>
                            <a href="#">Explore Now!</a>
                        </span>    
                        {% load static %}
                        <img src="{% static 'assets/sixth_container_arrow.svg' %}" alt="">
                    </div>
                </div>
                <div class="sixth_container_item">
                    {% load static %}
                    <img src="{% static 'assets/sixth_container_item_7.png' %}" alt="">
                    <div>
                        <span>
                            <p>Activewear</p>
                            <a href="#">Explore Now!</a>
                        </span>
                        {% load static %}
                        <img src="{% static 'assets/sixth_container_arrow.svg' %}" alt="">
                    </div>
                </div>
                <div class="sixth_container_item">
                    {% load static %}
                    <img src="{% static 'assets/sixth_container_item_8.png' %}" alt="">
                    <div>
                        <span>
                            <p>Boxers</p>
                            <a href="#">Explore Now!</a>
                        </span>
                        {% load static %}
                        <img src="{% static 'assets/sixth_container_arrow.svg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="seventh_container">
            <div class="seventh_container_header">
                {% load static %}
                <img src="{% static 'assets/third_h2_img.png'%}" alt="">
                <h3>Categories For Women</h3>
            </div>
            <div class="seventh_container_items">
                <div class="seventh_container_item">
                    {% load static %}
                    <img src="{% static 'assets/seventh_container_item_1.png' %}" alt="">
                    {% load static %}
                    <div>
                        <span>
                            <p>Hoodies & Sweetshirt</p>
                            <a href="#">Explore Now!</a>
                        </span>
                        {% load static %}
                        <img src="{% static 'assets/sixth_container_arrow.svg' %}" alt="">                                                               
                    </div>           
                </div>
                <div class="seventh_container_item">
                    {% load static %}
                    <img src="{% static 'assets/seventh_container_item_2.png' %}" alt="">
                    <div>
                        <span>
                            <p>Coats & Parkas</p>
                            <a href="#">Explore Now!</a>
                        </span>
                        {% load static %}
                        <img src="{% static 'assets/sixth_container_arrow.svg' %}" alt="">
                    </div>
                </div>
                <div class="seventh_container_item">
                    {% load static %}
                    <img src="{% static 'assets/seventh_container_item_3.png' %}" alt="">
                    <div>
                        <span>
                            <p>Tees & T-Shirt</p>
                            <a href="#">Explore Now!</a>
                        </span>
                        {% load static %}
                        <img src="{% static 'assets/sixth_container_arrow.svg' %}" alt="">                                                               
                     </div>           
                </div>
                <div class="seventh_container_item">
                    {% load static %}
                    <img src="{% static 'assets/seventh_container_item_4.png' %}" alt="">
                    <div>
                        <span>
                            <p>Boxers</p>
                            <a href="#">Explore Now!</a>
                        </span>
                        {% load static %}
                        <img src="{% static 'assets/sixth_container_arrow.svg' %}" alt="">                                                               
                    </div>           
                </div>
            </div>
        </div>
        <div class="eighth_container">
            <div class="eighth_text_container">
                <h4>Top Brands Deal</h4>
                <p>Up To <b>60%</b> off on brands</p>
            </div>
            <div class="eighth_container_items">
                <div class="eighth_container_item">
                    {% load static %}
                    <img src="{% static 'assets/eighth_container_item_1.png' %}" alt="">
                </div>
                <div class="eighth_container_item">
                    {% load static %}
                    <img src="{% static 'assets/eighth_container_item_2.png' %}" alt="">
                </div>
                <div class="eighth_container_item">
                    {% load static %}
                    <img src="{% static 'assets/eighth_container_item_3.png' %}" alt="">
                </div>
                <div class="eighth_container_item">
                    {% load static %}
                    <img src="{% static 'assets/eighth_container_item_4.png' %}" alt="">
                </div>
                <div class="eighth_container_item">
                    {% load static %}
                    <img src="{% static 'assets/eighth_container_item_5.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="ninth_container">
            <div class="ninth_container_header">
                {% load static %}
                <img src="{% static 'assets/third_h2_img.png' %}" alt="">
                <h3>In The Limelight</h3>
            </div>
            <div class="ninth_container_items">
                <div class="ninth_container_item">
                    {% load static %}
                    <img src="{% static 'assets/ninth_container_item_1.png' %}" alt="">
                    {% load static %}
                    <img class="ninth_heart" src="{% static 'assets/ninth_container_arrow.svg' %}" alt="">
                    <div>
                        <span>
                            <p>Black Sweatshirt with ....</p>
                            <h5>Jhanvi’s  Brand</h5>
                        </span>
                        <a href="#">$123.00</a>
                    </div>           
                </div>
                <div class="ninth_container_item">
                    {% load static %}
                    <img src="{% static 'assets/ninth_container_item_2.png' %}" alt="">
                    {% load static %}
                    <img class="ninth_heart" src="{% static 'assets/ninth_container_arrow.svg' %}" alt="">
                    <div>
                        <span>
                            <p>line Pattern Black H...</p>
                            <h5>AS’s  Brand</h5>
                        </span>
                        <a href="#">$37.00</a>
                    </div>
                </div>
                <div class="ninth_container_item">
                    {% load static %}
                    <img src="{% static 'assets/ninth_container_item_3.png' %}" alt="">
                     {% load static %}
                    <img class="ninth_heart" src="{% static 'assets/ninth_container_arrow.svg' %}" alt="">
                    <div>
                        <span>
                            <p>Black Shorts</p>
                            <h5>MM’s  Brand</h5>
                        </span>
                        <a href="#">$37.00</a>
                    </div>           
                </div>
                <div class="ninth_container_item">
                    {% load static %}
                    <img src="{% static 'assets/ninth_container_item_4.png' %}" alt="">
                    {% load static %}
                    <img class="ninth_heart" src="{% static 'assets/ninth_container_arrow.svg' %}" alt="">
                    <div>
                        <span>
                            <p>Levender Hoodie with ....</p>
                            <h5>Nike’s  Brand</h5>
                        </span>
                        <a class="ninth_offer_price" href="#">$119.00</a>
                    </div>           
                </div>
            </div>
        </div>
        <div class="tenth_container">
            <div class="tenth_container_header">
                {% load static %}
                <img src="{% static 'assets/third_h2_img.png' %}" alt="">
                <h3>Feedback</h3>
            </div>
            <div class="tenth_feedback_items">
                <div class="tenth_feedback_item">
                    <div class="tenth_img_container">
                        {% load static %}
                        <img src="{% static 'assets/tenth_avatar_1.png' %}" alt="">   
                        <span>
                            {% load static %}
                            <img src="{% static 'assets/tenth_full_star.svg' %}" alt="">
                            {% load static %}
                            <img src="{% static 'assets/tenth_full_star.svg' %}" alt="">
                            {% load static %}
                            <img src="{% static 'assets/tenth_full_star.svg' %}" alt="">
                            {% load static %}
                            <img src="{% static 'assets/tenth_half_star.svg' %}" alt="">
                            {% load static %}
                            <img src="{% static 'assets/tenth_empty_star.svg' %}" alt="">
                        </span>
                    </div>
                    <h3>Floyd Miles</h3>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua <br> dolor do amet sint. Velit officia consequat duis enim velit <br> mollit. <br> Exercitation veniam consequat sunt nostrud amet. Amet <br> minim mollit non deserunt ullamco est sit aliqua dolor do <br> amet sint. Velit officia consequat duis enim velit mollit. <br> Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
                <div class="tenth_feedback_item">
                    <div class="tenth_img_container">
                        {% load static %}
                        <img src="{% static 'assets/tenth_avatar_2.png' %}" alt="">   
                        <span>
                            {% load static %}
                            <img src="{% static 'assets/tenth_full_star.svg' %}" alt="">
                            {% load static %}
                            <img src="{% static 'assets/tenth_full_star.svg' %}" alt="">
                            {% load static %}
                            <img src="{% static 'assets/tenth_full_star.svg' %}" alt="">
                            {% load static %}
                            <img src="{% static 'assets/tenth_full_star.svg' %}" alt="">
                            {% load static %}
                            <img src="{% static 'assets/tenth_empty_star.svg' %}" alt="">
                        </span>
                    </div>
                    <h3>Floyd Miles</h3>
                    <p>ullamco est sit aliqua dolor do amet sint. Velit officia <br> consequat duis enim velit mollit. Exercitation veniam <br> consequat sunt nostrud amet.</p>
                </div>
                <div class="tenth_feedback_item">
                    <div class="tenth_img_container">
                        {% load static %}
                        <img src="{% static 'assets/tenth_avatar_3.png' %}" alt="">   
                        <span>
                            {% load static %}
                            <img src="{% static 'assets/tenth_full_star.svg' %}" alt="">
                            {% load static %}
                            <img src="{% static 'assets/tenth_full_star.svg' %}" alt="">
                            {% load static %}
                            <img src="{% static 'assets/tenth_full_star.svg' %}" alt="">
                            {% load static %}
                            <img src="{% static 'assets/tenth_half_star.svg' %}" alt="">
                            {% load static %}
                            <img src="{% static 'assets/tenth_empty_star.svg' %}" alt="">
                        </span>
                    </div>
                    <h3>Savannah Nguyen</h3>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua <br> dolor do amet sint. Velit officia consequat duis enim velit <br> mollit. <br> Exercitation veniam consequat sunt nostrud amet. Amet <br> minim mollit non deserunt ullamco est sit aliqua dolor do <br> amet sint. Velit officia consequat duis enim velit mollit. <br> Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
            <div class="tenth_active_window">
                <span class=""></span>
                <span class="not_active_span"></span>
                <span class="not_active_span"></span>
            </div>
        </div>
    </main>
{% endblock%}
